<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menubar</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>E-Cart CRUD</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button class="btn nav-link badge rounded-pill text-bg-primary" (click)="addProduct()">Add Product</button>
                    <button class="btn nav-link badge rounded-pill text-bg-primary ms-3" (click)="viewProduct()">View Product</button>
                    <button class="btn nav-link badge rounded-pill text-bg-primary ms-3" (click)="removeProduct()">Update/Remove Product</button>
                </div>
            </div>
        </div>
    </nav>

</body>

</html>